/* mini mobile */
@media (min-width:280px) and (max-width:319px) {
    .header-home {
        height: auto !important;
        padding: 30px !important;
    }

    .header-home .title {
        font-size: 12px !important;
    }

    .header-home .content {
        font-size: 9px !important;
    }

    .list-title h4 {
        font-size: 9px !important;
    }

    .list-icon {
        font-size: 9px !important;
        width: 20px !important;
        height: 20px !important;
    }

    .footer-menu ul {
        gap: 20px !important;
    }

    .footer-menu ul a {
        font-size: 8px !important;
    }

    .copy-right h6 {
        font-size: 8px !important;
    }

    .search-bar input {
        width: 100% !important;
    }

    .card-image-list img {
        height: auto !important;
    }

    .card-title-list h2 {
        font-size: 10px !important;
    }
    a.tab-item {
        font-size: 10px;
        margin: 0 4px
    }
}

/* medium mobile */
@media (min-width:320px) and (max-width:359px) {
    .header-home {
        height: auto !important;
        padding: 30px !important;
    }

    .header-home .title {
        font-size: 14px !important;
    }

    .header-home .content {
        font-size: 11px !important;
    }

    .list-title h4 {
        font-size: 11px !important;
    }

    .list-icon {
        font-size: 11px !important;
        width: 25px !important;
        height: 25px !important;
    }

    .footer-menu ul {
        gap: 20px !important;
    }

    .footer-menu ul a {
        font-size: 10px !important;
    }

    .copy-right h6 {
        font-size: 10px !important;
    }

    .search-bar input {
        width: 100% !important;
    }

    .card-image-list img {
        height: auto !important;
    }

    .card-title-list h2 {
        font-size: 12px !important;
    }
    a.tab-item {
        font-size: 10px;
        margin: 0 4px
    }
}

/* large mobile */
@media (min-width:360px) and (max-width:393px) {
    .header-home {
        height: auto !important;
        padding: 30px !important;
    }

    .header-home .title {
        font-size: 18px !important;
    }

    .header-home .content {
        font-size: 13px !important;
    }

    .list-title h4 {
        font-size: 14px !important;
    }

    .list-icon {
        font-size: 11px !important;
        width: 25px !important;
        height: 25px !important;
    }

    .footer-menu ul {
        gap: 20px !important;
    }

    .footer-menu ul a {
        font-size: 12px !important;
    }

    .copy-right h6 {
        font-size: 12px !important;
    }

    .search-bar input {
        width: 100% !important;
    }

    .card-image-list img {
        height: auto !important;
    }

    .card-title-list h2 {
        font-size: 12px !important;
    }
    a.tab-item {
        font-size: 10px;
        margin: 0 4px
    }
}

/* mobile */
@media (min-width:394px) and (max-width:480px) {
    .header-home {
        height: auto !important;
        padding: 30px !important;
    }

    .header-home .title {
        font-size: 22px !important;
    }

    .header-home .content {
        font-size: 13px !important;
    }

    .list-title h4 {
        font-size: 15px !important;
    }

    .list-icon {
        font-size: 11px !important;
        width: 25px !important;
        height: 25px !important;
    }

    .footer-menu ul {
        gap: 20px !important;
    }

    .footer-menu ul a {
        font-size: 12px !important;
    }

    .copy-right h6 {
        font-size: 12px !important;
    }

    .search-bar input {
        width: 100% !important;
    }

    .card-image-list img {
        height: auto !important;
    }

    .card-title-list h2 {
        font-size: 12px !important;
    }
    a.tab-item {
        font-size: 10px;
        margin: 0 4px
    }
}

/* mobile landscape */
@media (min-width:481px) and (max-width:732px) {}

/* tablet And ipad mini*/
@media (min-width:733px) and (max-width:768px) {}

/* ipad */
@media (min-width:769px) and (max-width:912px) {}

/* minimize on desktop */
@media (min-width:992px) and (max-width:1300px) {}

/* desktop */
@media (min-width:821px) {}

@media (max-width:1060px) {}
